<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <header class="fixed-top">
        <h1 class="text-center">AUTONOMUS APP</h1>
        <h4 class="text-center">Move without getting lost</h4>
    </header>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <nav class="p-3 navbar navbar-expand-lg navbar-light">
            <a class="m-2 btn btn-primary" href="{{ url_for('index')}}" role="button">Home</a>
                <ul class="nav flex-column">
                    <li class="m-1 nav-item">
                        <a class=" btn btn-primary" href="{{ url_for('vehicle_reg')}}" role="button">Register</a>
                    </li>
                    <li class="m-1 nav-item">
                        <a class="btn btn-primary" style="width:80px" href="#" role="button">Login</a>
                    </li>
                </ul>
        </nav>
        <main>
            {% block content %}
            
            {% endblock %}
        </main>
    </div>
    <footer class="fixed-bottom">
        <h1 class="text-center">AUTONOMUS APP</h1>
        <h4 class="text-center">Move without getting lost</h4>
    </footer>
</body>
</html>