<!DOCTYPE html>
<html>
<head>
    <title>Crear Vehicle</title>
</head>
<body>
    <h2>Crear Vehicle</h2>
    <form method="POST" action="/vehicle/create" method="POST" enctype="application/json">
        <label for="license_number">License Number:</label><br>
        <input type="text" id="license_number" name="license_number"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>

        <input type="submit" value="Crear">
    </form>
</body>
</html>
