{% extends 'base.html' %}

{% block title %}Create Vehicle{% endblock %}

{% block content %}
    <h2>Create Vehicle</h2>
    <form name="vehicle" action="/vehicle/create" method="POST" enctype="application/json">
        <label for="license_number">License Number:</label><br>
        <input type="text" id="license_number" name="license_number"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>

        <input type="submit" value="Crear">
    </form>
{% endblock %}
